<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <!--<add key="nuget.Tfs" value="http://porthos.local:81/nuget/NugetServer" />-->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <!--<add key="nuget.Tfs" value="http://porthos.local:81/nuget/NugetServer" />-->
  </activePackageSource>
</configuration>